<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>下拉隐藏navigationbar.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>468BDFC71D6582B600BEEFF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>468BDFE01D6582B600BEEFF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>468BDFEB1D6582B600BEEFF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
